<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Great MInds" parallel="tests">
				<listeners>
		<listener class-name="com.gm.utilities.Reporting" />
	</listeners>

<test thread-count="2" name="BankingApp_Test_Chrome" parallel="tests">
<parameter name="browser" value="chrome"> </parameter>

		<classes>
		<!--	<class name="com.gm.testCases.TC_LoginTest_001" /> -->
		<!--	<class name="com.gm.testCases.TC_BrowseGrade_001" /> -->
			<class name="com.gm.testCases.TC_CreateGrade" />
		</classes>
	</test>
	
	

</suite>
